# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment folders
env/
venv/

# Ignore VS Code settings
.vscode/

# Ignore all images
*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.svg